<div>
<div class="form-group">
  <form (ngSubmit)="onsubmit()" enctype="multipart/form-data">
    <label>Title</label>
    <input type="text" class="form-group" name="title" ngModel [(ngModel)]="data.title" />
    <label>Description</label>
    <input type="text" class="form-group" name="description" ngModel [(ngModel)]="data.description" />
    <label>Image:</label>
    <input type="file" class="from-group" id="file"  name="file" ngModel [(ngModel)]="data.file" (change)="fileupload($event)" />
    <button type="submit">Submit</button>
  </form>
</div>
</div>
